In [33]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\lilna\AppData\Roaming\nltk_data...

True

In [31]:
import pandas as pd
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\lilna\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
df = pd.read_csv("./tweets_with_snscrape_20-22.csv")

In [3]:
df.head(5)

,Unnamed: 0,Date,User,Tweet
0,0,2022-10-26 14:05:29+00:00,zeroffenders,https://t.co/dXgUDi5fTc\n\nA dentist was charg...
1,1,2022-10-26 12:27:55+00:00,zeroffenders,VIOLADOR:\nCristian Villalobos \nOrtodoncista ...
2,2,2022-10-05 20:47:10+00:00,bottyrubble,#whyididntreport
3,3,2022-10-01 14:55:08+00:00,AmybeTravelling,@MacFarlaneNews Their friends are trying to mu...
4,4,2022-09-29 21:45:18+00:00,zeroffenders,https://t.co/rL5hSiXonW\n\nMost of Dahmer's vi...

In [8]:
df.at[0,"Tweet"]

'https://t.co/dXgUDi5fTc\n\nA dentist was charged with rapes of women.\n\nFarzam Mehrabi is accused of meeting women through dating apps before drugging them and sexually assaulting them.\n\n#metoo #whyididntreport #antofagasta #osorno #rapist #25N https://t.co/z7Ybj76sAj'

In [23]:
temp = df.at[0,"Tweet"]
temp = temp.replace("\n"," ")

In [24]:
temp_list = temp.split(" ")

In [25]:
temp = ""
for cn,ele in enumerate(temp_list):
    if(ele.startswith("https")):
        pass
    elif(ele.startswith("#")):
        pass
    else:
        temp += ele + " "

In [26]:
temp

' A dentist was charged with rapes of women.  Farzam Mehrabi is accused of meeting women through dating apps before drugging them and sexually assaulting them.  '

In [34]:
wnl = WordNetLemmatizer()
list2 = nltk.word_tokenize(temp)
print(list2)
#> ['the', 'cat', 'is', 'sitting', 'with', 'the', 'bats', 'on',
#   'the', 'striped', 'mat', 'under', 'many', 'flying', 'geese']
 
lemmatized_string = ' '.join([wnl.lemmatize(words) for words in list2])
 
print(lemmatized_string)

['A', 'dentist', 'was', 'charged', 'with', 'rapes', 'of', 'women', '.', 'Farzam', 'Mehrabi', 'is', 'accused', 'of', 'meeting', 'women', 'through', 'dating', 'apps', 'before', 'drugging', 'them', 'and', 'sexually', 'assaulting', 'them', '.']
A dentist wa charged with rape of woman . Farzam Mehrabi is accused of meeting woman through dating apps before drugging them and sexually assaulting them .

In [35]:
df.shape

(29854, 4)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29854 entries, 0 to 29853
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  29854 non-null  int64
 1   Date        29854 non-null  object
 2   User        29854 non-null  object
 3   Tweet       29854 non-null  object
dtypes: int64(1), object(3)
memory usage: 933.1+ KB

In [39]:
df.describe()

         Unnamed: 0
count  29854.000000
mean   14926.500000
std     8618.251805
min        0.000000
25%     7463.250000
50%    14926.500000
75%    22389.750000
max    29853.000000