In [17]:
#for data manipulation
import pandas as pd
import numpy as np

#for text pre-processing
import re, string
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('wordnet')

#for model-building
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, f1_score, accuracy_score, confusion_matrix
from sklearn.metrics import roc_curve, auc, roc_auc_score

# bag of words
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#for word embedding
import gensim
from gensim.models import Word2Vec

In [18]:
#reading in the data
originalDataset = pd.read_csv('whyididntreport_tweets.csv')

#get a high-level overview of the data set
originalDataset.describe()

         Unnamed: 0
count  29854.000000
mean   14926.500000
std     8618.251805
min        0.000000
25%     7463.250000
50%    14926.500000
75%    22389.750000
max    29853.000000

In [19]:
#check if there are duplicates in the data set
originalDataset.duplicated().value_counts()

False    29854
dtype: int64

In [20]:
#view the first 50 rows in the data set
originalDataset.head(10)

,Unnamed: 0,Date,User,Tweet
0,0,2022-10-26 14:05:29+00:00,zeroffenders,https://t.co/dXgUDi5fTc\n\nA dentist was charg...
1,1,2022-10-26 12:27:55+00:00,zeroffenders,VIOLADOR:\nCristian Villalobos \nOrtodoncista ...
2,2,2022-10-05 20:47:10+00:00,bottyrubble,#whyididntreport
3,3,2022-10-01 14:55:08+00:00,AmybeTravelling,@MacFarlaneNews Their friends are trying to mu...
4,4,2022-09-29 21:45:18+00:00,zeroffenders,https://t.co/rL5hSiXonW\n\nMost of Dahmer's vi...
5,5,2022-09-24 08:07:15+00:00,bottyrubble,#whyididntreport
6,6,2022-09-22 16:34:57+00:00,zeroffenders,https://t.co/k54a6A5ZEP\n\nA dentist was arres...
7,7,2022-09-19 23:19:36+00:00,AmybeTravelling,@WillAttig @3vil_qu33n @Christinegitti6 Can i ...
8,8,2022-09-14 15:20:53+00:00,zeroffenders,https://t.co/64cGfGu81D\n\nDentist Emad Fathy ...
9,9,2022-09-12 21:44:26+00:00,zeroffenders,El atraso en el kit de violaci贸n signific贸 que...

In [21]:
#get only the tweets from the data set
tweets = originalDataset['Tweet']

#view the top 5 tweets
tweets.head(5)

0    https://t.co/dXgUDi5fTc\n\nA dentist was charg...
1    VIOLADOR:\nCristian Villalobos \nOrtodoncista ...
2                                     #whyididntreport
3    @MacFarlaneNews Their friends are trying to mu...
4    https://t.co/rL5hSiXonW\n\nMost of Dahmer's vi...
Name: Tweet, dtype: object